.main{
   width: 100vw;
   margin: auto;
   padding-bottom: 60px;

}

.pinkBody{
  width: 100%;
  background: $color3;
  text-align: center;

  .first-section, .second-section{
    width: 70%;
    margin: auto;
    border-bottom: 1px solid $color4;
    padding: 60px 0 60px 0;

   .bunny{
     width: 300px;
     margin: 30px 0 70px 0;
   }

    .box-container{
      width: 100%;
      @include my-flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 50px;

     .left, .right, .center{
       // display: inline;
       width: 285px;

       img{

         width: auto;
         max-height: 110px;
         margin-bottom: 30px;
       }
     }

    }
  }
}

.whitebg{
  width: 100%;
  background: $color5;
}
.feedback{
  width: 90%;
  padding: 60px 0 60px 0;
  margin: auto;
  @include my-flex;
  flex-wrap: wrap;

  .img-section {
   width: 600px;

    img{

    width: 100%;
  }
}

  .text-section {
   width: 550px;
   text-align: left;

    img{
    width: 50%;
    padding-top: 30px;
  }

    h2, p {
      margin-bottom: 30px;
    }

    small{
      color: $color1;
      display: block;
      i{
        color: inherit;
      }
    }
  }

}


.pinkBody{
  .big-h2{
    font-size: 35px;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }

  .blockquote{
    width: 70%;
    background: $color5;
    height: auto;
    margin: auto;
    padding: 40px;
    border: 1px solid $color4;
    text-align: left;

    p{
      font-size: 15px;
    }

    .author{
      @include my-flex;

      padding-top: 15px;


      img{
        width: 40px;
      }

      .author-name{
      padding-left: 15px;
      h3{
        font-size: 12px;
        color: $color1;
      }
      small{
        font-size: 10px;
      }

      }
    }

  }


  .button{

    img{
      @include logosize;
    }

    button{
      width: 170px;
      height: 40px;
      line-height: 40px;
      background: $color1;
      color: $color5;
      font-size: 12px;
      border-radius: 10px;
      border: none;
      margin: 30px 0 30px 0 ;

    }
    small{
      margin: 0 20px 0 20px;
      color: $color4;
    }
  }
}
